<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>ADV</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="/css/advBoulogne.css">
</head>
<body>
  <div id="sidebar">
    <h2>Liste des ADV</h2>
    <table id="advTable">
      <thead>
        <tr>
          <th>ADV</th>
          <th>Lat</th>
          <th>Lng</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <div id="map-container">
    <div id="map"></div>
  </div>
   <!-- <div class="main-container">
    <div class="wrapper">
      <div class="form-wrapper" id="viewer">
        <input id="input1"  class="form-input" type="text" name="input1">
          <input id="input2"  class="form-input" type="text" name="input2">
          <input id="input3"  class="form-input" type="text" name="input3">
          <input id="input4"  class="form-input" type="text" name="input4">
          <input id="input5"  class="form-input" type="text" name="input5">
          <input id="input6"  class="form-input" type="text" name="input6">
          <input id="input7"  class="form-input" type="text" name="input7">
          <input id="input8"  class="form-input" type="text" name="input8">
          <input id="input9"  class="form-input" type="text" name="input9">
          <input id="input10" class="form-input" type="text" name="input10">
          <input id="input11" class="form-input" type="text" name="input11">
          <input id="input12" class="form-input" type="text" name="input12">
          <input id="input13" class="form-input" type="text" name="input13">
          <input id="input14" class="form-input" type="text" name="input14">
          <input id="input15" class="form-input" type="text" name="input15">
          <input id="input16" class="form-input" type="text" name="input16">
      </div>
    </div>
  </div> -->
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="/js/advBoulogne.js"></script>
</body>
</html>
