<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>ADV</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="/css/advBoulogne.css">
</head>
<body>
  <div class="grid-layout">
    <div id="left-sidebar">
      <h2>Liste des ADV</h2>
      <table id="advTable">
        <thead>
          <tr>
            <th>ADV</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div id="data">
      <div id="info-container">
        <div class="info-item">
          <label for="tangeante">Tangeante:</label>
          <span id="tangeante">0,167</span>
        </div>
        <div class="info-item">
          <label for="modele">Modèle:</label>
          <span id="modele">61(50E6)</span>
        </div>
        <div class="info-item">
          <label for="plancher">Plancher:</label>
          <span id="plancher">Bois</span>
        </div>
        <div class="info-item">
          <label for="pose">Pose:</label>
          <span id="pose">Eclissé</span>
        </div>
        <div class="info-item">
          <label for="rail">Rail:</label>
          <span id="rail">50E6</span>
        </div>
        <div class="info-item">
          <label for="sensDerivation">Sens dérivation:</label>
          <span id="sensDerivation">SYM</span>
        </div>
        <div class="info-item">
          <label for="typeAttaches">Type d'attaches:</label>
          <span id="typeAttaches">Nabla</span>
        </div>
      </div>
    </div>
    <div id="map-container">    
      <div id="map"></div>
    </div>
    <div id="right-sidebar">
      <div id="cote"></div>
      <div id="eca"></div>
    </div>
    <div id="dataVoie-container">
      <div id="dataVoie-container">
        <div class="voie-content active" id="voie-default">
          <p>Contenu principal initial</p>
        </div>

        <div class="voie-content" id="voie-croisement">
          <p>Contenu Croisement</p>
        </div>
        <div class="voie-content" id="voie-ecartement">
          <p>Contenu Ecartement</p>
        </div>
        <div class="voie-content" id="voie-plancher">
          <p>Contenu Plancher/Joints</p>
        </div>
        <div class="voie-content" id="voie-aiguillage">
          <p>Contenu Demi-Aiguillage</p>
        </div>
        
        <div class="voie-toggle">
          <div class="toggle-tab">▲</div>
          <div class="toggle-menu">
            <button data-target="voie-croisement">Croisement</button>
            <button data-target="voie-ecartement">Ecartement</button>
            <button data-target="voie-plancher">Plancher/Joints</button>
            <button data-target="voie-aiguillage">Demi-Aiguillage</button>
            <button><a href="/views/b2v.html">Nouvelles mesures</a></button>
          </div>
        </div>
      </div>

    </div>
    <button class="exit"><a href="/views/accueil.html">Accueil</a></button>
   </div>
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="/js/advBoulogne.js"></script>
</body>
</html>
