<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>ADV</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <link rel="stylesheet" href="/css/advBoulogne.css">
</head>
<body>
  <div class="grid-layout">
    <div id="left-sidebar">
      <h2>Liste des ADV</h2>
      <table id="advTable">
        <tbody></tbody>
      </table>
    </div>
    <div id="data">
      <div id="info-container">
      </div>
    </div>
    <div class="data-actions">
      <div class="section">
        <h2 class="section-title">Type ADV</h2>
        <div class="adv-section">
        </div>
      </div>
    </div>
    <div id="map-container">    
      <div id="map"></div>
    </div>  
    <div id="dataVoie-container">
      <div class="voie-content" id="hub">
          <button data-target="voie-croisement">Croisement</button>
          <button data-target="voie-ecartement">Ecartement/Attaches</button>
          <button data-target="voie-test">Plancher/Joints</button>
          <button data-target="voie-aiguillage">Demi-Aiguillage</button>
      </div>
      <div class="voie-content" id="voie-croisement">
        <div class="voie-type-container" data-type="bs" style="display: flex;">
          <div class="croisement-img-bs">
            <img src="../assets/cote.png" alt="Vue du croisement BS" class="croisement-image" />
            <input class="p2p_g">
            <input class="p2p_d">
          </div>
          
          <table class="croisement-table">
            <thead>
              <tr>
                <th>N° Cœur de croisement</th>
                <th>Épaisseur contre-rail Gauche</th>
                <th>Épaisseur de calage Gauche</th>
                <th>Nombre de cales Gauche</th>
                <th>Épaisseur contre-rail Droite</th>
                <th>Épaisseur de calage Droite</th>
                <th>Nombre de cales Droite</th>
                <th>État Cœur</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="voie-type-container" data-type="tj" style="display: none;">
          <div class="croisement-img">
            <div class="container_coeur2c_h">
              <img src="../assets/coeur2c_h.png" alt="coeur haut" />
              <input class="ep_cr_g" />
              <input class="ep_cal_g" />
              <input class="nb_cal_g" />
              <input class="ep_cr_d" />
              <input class="ep_cal_d" />
              <input class="nb_cal_d" />
              <input class="coeur2c_num_h" />
            </div>

            <div class="container_coeur2c_b">
              <img src="../assets/coeur2c_b.png" alt="coeur bas" />
              <input class="ep_cr_g" />
              <input class="ep_cal_g" />
              <input class="nb_cal_g" />
              <input class="ep_cr_d" />
              <input class="ep_cal_d" />
              <input class="nb_cal_d" />
              <input class="coeur2c_num_b" />
            </div>

          </div>
          <div class="traverse-img">
            <img src="../assets/coeur2t.png" alt="coeur de traversée" class="croisement-image" />
            <input class="p2p_g_h" />
            <input class="p2p_d_h" />
            <input class="libre_passage_g" />
            <input class="libre_passage_d" />
            <input class="p2p_g_b" />
            <input class="p2p_d_b" />
            <input class="coeur2t_num_g">
            <input class="coeur2t_num_d">
          </div>
          
        </div>
        <div class="voie-type-container" data-type="to" style="display: none;">
          <div class="croisement-img">
            <div class="container_coeur2c_h_t">
              <img src="../assets/coeur2c_h_t.png" alt="coeur haut" />
              <input class="p2p_g_h" />
              <input class="p2p_d_h" />
              <input class="coeur2c_num_h_t" />
            </div>

            <div class="container_coeur2c_b_t">
              <img src="../assets/coeur2c_b_t.png" alt="coeur bas" />
              <input class="p2p_g_b" />
              <input class="p2p_d_b" />
              <input class="coeur2c_num_b_t" />
            </div>

          </div>
          <div class="traverse-img">
            <img src="../assets/coeur2t.png" alt="coeur de traversée" class="croisement-image" />
              <input class="p2p_g_h" />
              <input class="p2p_d_h" />
              <input class="libre_passage_g" />
              <input class="libre_passage_d" />
              <input class="p2p_g_b" />
              <input class="p2p_d_b" />
              <input class="coeur2t_num_g">
              <input class="coeur2t_num_d">
          </div>
        </div>
      </div>

      <div class="voie-content" id="voie-ecartement">
        <div class="voie-type-container" data-type="bs">
          <div class="ecartement-top">
            <img src="/assets/attaches.png" alt="Attaches" class="attaches-image-bs" />
  
            <div class="table-wrapper">
              <table class="attaches-table">
                <thead>
                  <tr>
                    <th>Zone</th>
                    <th>% Attaches efficaces B2V</th>
                    <th>% Attaches inefficaces B2V</th>
                  </tr>
                </thead>
                <tbody>
                  <tr><td>1</td><td></td><td></td></tr>
                  <tr><td>2</td><td></td><td></td></tr>
                  <tr><td>3</td><td></td><td></td></tr>
                  <tr><td>4</td><td></td><td></td></tr>
                  <tr><td>5</td><td></td><td></td></tr>
                  <tr><td>6</td><td></td><td></td></tr>
                  <tr><td>7</td><td></td><td></td></tr>
                  <tr><td>8</td><td></td><td></td></tr>
                  <tr><td>9</td><td></td><td></td></tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="ecartement-bottom">
            <div class="ecartements-image-wrapper">
              <img src="/assets/ecartements.png" alt="Écartements" class="ecartements-image" />
              <div class="ecartement-card card-1">1490</div>
              <div class="ecartement-card card-2">1490</div>
              <div class="ecartement-card card-3">1490</div>
              <div class="ecartement-card card-4">1490</div>
              <div class="ecartement-card card-5">1490</div>
              <div class="ecartement-card card-6">1490</div>
              <div class="ecartement-card card-7">1490</div>
            </div>
          </div>
        </div>
        <div class="voie-type-container" data-type="tj" style="display: none;">
          <div class="ecartement-top">
            <img src="/assets/tj_attaches.png" alt="Attaches" class="attaches-image" />
  
            <div class="table-wrapper">
              <table class="attaches-table">
                <thead>
                  <tr>
                    <th>Zone</th>
                    <th>% Attaches efficaces B2V</th>
                    <th>% Attaches inefficaces B2V</th>
                  </tr>
                </thead>
                <tbody>
                  <tr><td>1</td><td></td><td></td></tr>
                  <tr><td>1'</td><td></td><td></td></tr>
                  <tr><td>2</td><td></td><td></td></tr>
                  <tr><td>2'</td><td></td><td></td></tr>
                  <tr><td>3</td><td></td><td></td></tr>
                  <tr><td>3'</td><td></td><td></td></tr>
                  <tr><td>4</td><td></td><td></td></tr>
                  <tr><td>4'</td><td></td><td></td></tr>
                  <tr><td>5</td><td></td><td></td></tr>
                  <tr><td>6</td><td></td><td></td></tr>
                  <tr><td>7</td><td></td><td></td></tr>
                  <tr><td>8</td><td></td><td></td></tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="ecartement-bottom">
            <div class="ecartements-image-wrapper">
              <img src="/assets/tj_ecartements.jpg" alt="Écartements" class="ecartements-image" />
              <div class="ecartement-card card-1">1490</div>
              <div class="ecartement-card card-2">1490</div>
              <div class="ecartement-card card-3">1490</div>
              <div class="ecartement-card card-4">1490</div>
              <div class="ecartement-card card-5">1490</div>
              <div class="ecartement-card card-6">1490</div>
              <div class="ecartement-card card-7">1490</div>
              <div class="ecartement-card card-8">1490</div>
            </div>
          </div>
        </div>
        <div class="voie-type-container" data-type="to" style="display: none;">
          <div class="ecartement-top">
            <img src="/assets/to_attaches.png" alt="Attaches" class="attaches-image" />
  
            <div class="table-wrapper">
              <table class="attaches-table">
                <thead>
                  <tr>
                    <th>Zone</th>
                    <th>% Attaches efficaces B2V</th>
                    <th>% Attaches inefficaces B2V</th>
                  </tr>
                </thead>
                <tbody>
                  <tr><td>1</td><td></td><td></td></tr>
                  <tr><td>1'</td><td></td><td></td></tr>
                  <tr><td>2</td><td></td><td></td></tr>
                  <tr><td>2'</td><td></td><td></td></tr>
                  <tr><td>3</td><td></td><td></td></tr>
                  <tr><td>3'</td><td></td><td></td></tr>
                  <tr><td>4</td><td></td><td></td></tr>
                  <tr><td>4'</td><td></td><td></td></tr>
                  <tr><td>5</td><td></td><td></td></tr>
                  <tr><td>6</td><td></td><td></td></tr>
                  <tr><td>7</td><td></td><td></td></tr>
                  <tr><td>8</td><td></td><td></td></tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="ecartement-bottom">
            <div class="ecartements-image-wrapper">
              <img src="/assets/tj_ecartements.jpg" alt="Écartements" class="ecartements-image" />
              <div class="ecartement-card card-1">1490</div>
              <div class="ecartement-card card-2">1490</div>
              <div class="ecartement-card card-3">1490</div>
              <div class="ecartement-card card-4">1490</div>
              <div class="ecartement-card card-5">1490</div>
              <div class="ecartement-card card-6">1490</div>
              <div class="ecartement-card card-7">1490</div>
              <div class="ecartement-card card-8">1490</div>
            </div>
          </div>
        </div>
      </div>

      <div class="voie-content" id="voie-aiguillage">
        <div class="voie-type-container" data-type="tj" style="display: none;">
              <div class="table-container">
                <div class="bavure-table">
                    <table id="bavure-table">
                        <thead>
                            <tr>
                                <th>Bavures</th>
                                <th>1/2 aig 1</th>
                                <th>1/2 aig 2</th>
                                <th>1/2 aig 3</th>
                                <th>1/2 aig 4</th>
                                <th>1/2 aig 5</th>
                                <th>1/2 aig 6</th>
                                <th>1/2 aig 7</th>
                                <th>1/2 aig 8</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-type="aucune">
                                <td>Aucune bavure</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr data-type="meulage">
                                <td>Bavures éliminées par meulage</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr data-type="presence">
                                <td>Présence de bavures</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ebrechure-table">
                    <table id="ebrechure_ag">
                        <thead>
                            <tr>
                                <th>Ébréchure aiguille</th>
                                <th>1/2 aig 1</th>
                                <th>1/2 aig 2</th>
                                <th>1/2 aig 3</th>
                                <th>1/2 aig 4</th>
                                <th>1/2 aig 5</th>
                                <th>1/2 aig 6</th>
                                <th>1/2 aig 7</th>
                                <th>1/2 aig 8</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-type="aucune">
                                <td>Aucune ébréchure</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr data-type="classement">
                                <td>Classement</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr data-type="contact_sous_fente">
                                <td>Contact au dessous de la fente repère</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr data-type="contact_au_dessus_fente">
                                <td>Contact au dessus de la fente repère</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr data-type="longueur_sous_fente">
                                <td>Longueur ébréchure sous fente repère</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr data-type="longueur_totale_zone">
                                <td>Longueur totale de la zone ébréchée</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr data-type="presence_ebrechure">
                                <td>Présence d'ébréchure</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="app-dm-ag">
                    <table id="app_demi-aiguillage">
                        <thead>
                            <tr>
                                <th>Application demi-aiguillage</th>
                                <th>1/2 aig 1</th>
                                <th>1/2 aig 2</th>
                                <th>1/2 aig 3</th>
                                <th>1/2 aig 4</th>
                                <th>1/2 aig 5</th>
                                <th>1/2 aig 6</th>
                                <th>1/2 aig 7</th>
                                <th>1/2 aig 8</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-type="non_conforme">
                                <td>Entrebaîllement</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr data-type="conforme">
                                <td>Etat butée</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="usure_lca">
                    <table id="usure_lca">
                        <thead>
                            <tr>
                                <th>Usure latérale contre-aiguille</th>
                                <th>1/2 aig 1</th>
                                <th>1/2 aig 2</th>
                                <th>1/2 aig 3</th>
                                <th>1/2 aig 4</th>
                                <th>1/2 aig 5</th>
                                <th>1/2 aig 6</th>
                                <th>1/2 aig 7</th>
                                <th>1/2 aig 8</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-type="non_conforme_legere">
                                <td>La pige ne passe pas (O < J < 3mm)</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr data-type="non_conforme_meulage">
                                <td>La pige ne passe pas (O = J)</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr data-type="conforme">
                                <td>La pige passe (J > 3mm)</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr data-type="non_conforme_calibre">
                                <td>Le calibre ne passe pas</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr data-type="conforme_apres_meulage">
                                <td>Le calibre passe après meulage</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr data-type="conforme_sans_meulage">
                                <td>Le calibre passe avant meulage</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr data-type="non_conforme_pige">
                                <td>La pige ne passe pas</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr data-type="conforme_apres_meulage">
                                <td>La pige passe après meulage</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr data-type="conforme_sans_meulage">
                                <td>La pige passe avant meulage</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr data-type="classement">
                                <td>Classement</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                        </tbody>
            
                    </table>
                </div>
                <div class="usure_la">
                    <table id="usure_la">
                        <thead>
                            <tr>
                                <th>Usure latérale aiguille</th>
                                <th>1/2 aig 1</th>
                                <th>1/2 aig 2</th>
                                <th>1/2 aig 3</th>
                                <th>1/2 aig 4</th>
                                <th>1/2 aig 5</th>
                                <th>1/2 aig 6</th>
                                <th>1/2 aig 7</th>
                                <th>1/2 aig 8</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-type="non_conforme_legere">
                                <td>Pente d'usure d'aiguille : Pente ≥ 60°</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr data-type="non_conforme_meulage">
                                <td>Pente d'usure d'aiguille : Pente ≤ 60°</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr data-type="conforme">
                                <td>Contact / fente repère : Contact au dessus et au dessous</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr data-type="non_conforme_calibre">
                                <td>Contact / fente repère : Contact au dessus</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr data-type="conforme_apres_meulage">
                                <td>Contact / fente repère : Contact au dessous</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                            <tr data-type="classement">
                                <td>Classement</td>
                                <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
                            </tr>
                        </tbody>
            
                    </table>
                </div>
            </div>
        </div>
        <div class="voie-type-container" data-type="bs" style="display: flex;">
          <div class="table-container">
                <div class="bavure-table">
                    <table id="bavure-table">
                        <thead>
                            <tr>
                                <th>Bavures</th>
                                <th>1/2 aig Gauche</th>
                                <th>1/2 aig Droite</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-type="aucune">
                                <td>Aucune bavure</td>
                                <td></td><td></td>
                            </tr>
                            <tr data-type="meulage">
                                <td>Bavures éliminées par meulage</td>
                                <td></td><td></td>
                            </tr>
                            <tr data-type="presence">
                                <td>Présence de bavures</td>
                                <td></td><td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="ebrechure-table">
                    <table id="ebrechure_ag">
                        <thead>
                            <tr>
                                <th>Ébréchure aiguille</th>
                                <th>1/2 aig Gauche</th>
                                <th>1/2 aig Droite</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-type="aucune">
                                <td>Aucune ébréchure</td>
                                <td></td><td></td>
                            </tr>
                            <tr data-type="classement">
                                <td>Classement</td>
                                <td></td><td></td>
                            </tr>
                            <tr data-type="contact_sous_fente">
                                <td>Contact au dessous de la fente repère</td>
                                <td></td><td></td>
                            </tr>
                            <tr data-type="contact_au_dessus_fente">
                                <td>Contact au dessus de la fente repère</td>
                                <td></td><td></td>
                            </tr>
                            <tr data-type="longueur_sous_fente">
                                <td>Longueur ébréchure sous fente repère</td>
                                <td></td><td></td>
                            </tr>
                            <tr data-type="longueur_totale_zone">
                                <td>Longueur totale de la zone ébréchée</td>
                                <td></td><td></td>
                            </tr>
                            <tr data-type="presence_ebrechure">
                                <td>Présence d'ébréchure</td>
                                <td></td><td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="app-dm-ag">
                    <table id="app_demi-aiguillage">
                        <thead>
                            <tr>
                                <th>Application demi-aiguillage</th>
                                <th>1/2 aig Gauche</th>
                                <th>1/2 aig Droite</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-type="non_conforme">
                                <td>Entrebaîllement</td>
                                <td></td><td></td>
                            </tr>
                            <tr data-type="conforme">
                                <td>Etat butée</td>
                                <td></td><td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="usure_lca">
                    <table id="usure_lca">
                        <thead>
                            <tr>
                                <th>Usure latérale contre-aiguille</th>
                                <th>1/2 aig Gauche</th>
                                <th>1/2 aig Droite</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-type="non_conforme_legere">
                                <td>La pige ne passe pas (O < J < 3mm)</td>
                                <td></td><td></td>
                            </tr>
                            <tr data-type="non_conforme_meulage">
                                <td>La pige ne passe pas (O = J)</td>
                                <td></td><td></td>
                            </tr>
                            <tr data-type="conforme">
                                <td>La pige passe (J > 3mm)</td>
                                <td></td><td></td>
                            </tr>
                            <tr data-type="non_conforme_calibre">
                                <td>Le calibre ne passe pas</td>
                                <td></td><td></td>
                            </tr>
                            <tr data-type="conforme_apres_meulage">
                                <td>Le calibre passe après meulage</td>
                                <td></td><td></td>
                            </tr>
                            <tr data-type="conforme_sans_meulage">
                                <td>Le calibre passe avant meulage</td>
                                <td></td><td></td>
                            </tr>
                            <tr data-type="non_conforme_pige">
                                <td>La pige ne passe pas</td>
                                <td></td><td></td>
                            </tr>
                            <tr data-type="conforme_apres_meulage">
                                <td>La pige passe après meulage</td>
                                <td></td><td></td>
                            </tr>
                            <tr data-type="conforme_sans_meulage">
                                <td>La pige passe avant meulage</td>
                                <td></td><td></td>
                            </tr>
                            <tr data-type="classement">
                                <td>Classement</td>
                                <td></td><td></td>
                            </tr>
                        </tbody>
            
                    </table>
                </div>
                <div class="usure_la">
                    <table id="usure_la">
                        <thead>
                            <tr>
                                <th>Usure latérale aiguille</th>
                                <th>1/2 aig Gauche</th>
                                <th>1/2 aig Droite</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-type="non_conforme_legere">
                                <td>Pente d'usure d'aiguille : Pente ≥ 60°</td>
                                <td></td><td></td>
                            </tr>
                            <tr data-type="non_conforme_meulage">
                                <td>Pente d'usure d'aiguille : Pente ≤ 60°</td>
                                <td></td><td></td>
                            </tr>
                            <tr data-type="conforme">
                                <td>Contact / fente repère : Contact au dessus et au dessous</td>
                                <td></td><td></td>
                            </tr>
                            <tr data-type="non_conforme_calibre">
                                <td>Contact / fente repère : Contact au dessus</td>
                                <td></td><td></td>
                            </tr>
                            <tr data-type="conforme_apres_meulage">
                                <td>Contact / fente repère : Contact au dessous</td>
                                <td></td><td></td>
                            </tr>
                            <tr data-type="classement">
                                <td>Classement</td>
                                <td></td><td></td>
                            </tr>
                        </tbody>
            
                    </table>
                </div>
            </div>
        </div>
      </div>
      <div class="voie-content" id="voie-test" style="display: flex;">
        <div class="bois_container">
          <div class="plancher-section" id="plancher-bois">
            <div class="chart-container">
              <canvas id="boisChart"></canvas>
              <div class="chart-center-text" id="boisCount">35</div>
              <div class="chart-subtext">Bon état / À remplacer</div>
            </div>
            <table class="plancher-table">
              <thead>
                <tr>
                  <th>% bois à remplacer</th>
                  <th>bois à remplacer</th>
                  <th>bois bon état</th>
                </tr>
              </thead>
              <tbody>
                <tr><td>10%</td><td>5</td><td>35</td></tr>
              </tbody>
            </table>
          </div>
  
          <div class="plancher-section" id="plancher-joints">
            <div class="chart-container">
              <canvas id="jointsChart"></canvas>
              <div class="chart-center-text" id="jointsCount">42</div>
              <div class="chart-subtext">Bon état / À reprendre</div>
            </div>
            <table class="plancher-table">
              <thead>
                <tr>
                  <th>% Joints à remplacer</th>
                  <th>Joints bon état</th>
                  <th>Joints à reprendre</th>
                  <th>Joints à graisser</th>
                </tr>
              </thead>
              <tbody>
                <tr><td>15%</td><td>40</td><td>5</td><td>3</td></tr>
              </tbody>
            </table>
          </div>
  
          <table class="mini-table">
            <thead><tr><th>Etat des rails</th></tr></thead>
            <tbody><tr><td>Bon</td></tr></tbody>
          </table>
        </div>
      </div>
      
      <div class="voie-toggle">
        <div class="toggle-menu">
          <button data-target="hub">Menu</button>
          <button data-target="voie-croisement">Croisement</button>
          <button data-target="voie-ecartement">Ecartement/Attaches</button>
          <button data-target="voie-test">Plancher/Joints</button>
          <button data-target="voie-aiguillage">Demi-Aiguillage</button>
        </div>
      </div>
    </div>
    <button class="exit"><a href="/">Accueil</a></button>
    <button class="edit-data"><a href="/b2v">Nouvelles mesures</a></button>
   </div>
   <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <script src="/js/advBoulogne.js"></script>
</body>
</html>
