<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/armement.css">
  <title>Schéma d'Armement</title>
</head>
<body>
  <div class="grid-layout">    
        <div class="voies">
            <h2>Liste des voies</h2>
            <table>
                <tbody id="container"></tbody>
            </table>
        </div>

        <div class="content-area">
            <h1 id="voie-titre">Sélectionnez une voie</h1>
            <div class="image-container">
                <img id="schema-img" src="/assets/schema_armement_ex.png" alt="Schéma d'armement">
            </div>
        </div>

        <a href="/voiesBoulogne" class="choice-button voies-button" draggable="false">
            <img src="../assets/voies_icon.png" alt="icone Voies" draggable="false">
            Voies
        </a>
        <a href="/" class="choice-button accueil-button" draggable="false">
            <img src="../assets/accueil.png" alt="icone Accueil" draggable="false">
            Accueil
        </a> 
    </div> 
  <script src="/js/armement.js"></script>
</body>
</html>