<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/armement.css">
</head>
<body>
  <div class="table-container">
    <div class="summary-container">
      <table id="summary-table_tj" >
        <thead>
          <tr>
            <th></th>
            <th>1/2 aig 1</th>
            <th>1/2 aig 2</th>
            <th>1/2 aig 3</th>
            <th>1/2 aig 4</th>
            <th>1/2 aig 5</th>
            <th>1/2 aig 6</th>
            <th>1/2 aig 7</th>
            <th>1/2 aig 8</th>
          </tr>
        </thead>
        <tbody>
          <tr data-type="bavure">
            <td>Bavures</td>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
          </tr>
          <tr data-type="ebrechure">
            <td>Ébréchure aiguille</td>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
          </tr>
          <tr data-type="app-dm-ag">
            <td>Application demi-aiguillage</td>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
          </tr>
          <tr data-type="usure_lca">
            <td>Usure latérale contre-aiguille</td>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
          </tr>
          <tr data-type="usure_la">
            <td>Usure latérale aiguille</td>
            <td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="summary-container">
      <table id="summary-table_bs" >
        <thead>
          <tr>
            <th></th>
            <th>1/2 aig Gauche</th>
            <th>1/2 aig Droite</th>
          </tr>
        </thead>
        <tbody>
          <tr data-type="bavure">
            <td>Bavures</td>
            <td></td><td></td>
          </tr>
          <tr data-type="ebrechure">
            <td>Ébréchure aiguille</td>
            <td></td><td></td>
          </tr>
          <tr data-type="app-dm-ag">
            <td>Application demi-aiguillage</td>
            <td></td><td></td>
          </tr>
          <tr data-type="usure_lca">
            <td>Usure latérale contre-aiguille</td>
            <td></td><td></td>
          </tr>
          <tr data-type="usure_la">
            <td>Usure latérale aiguille</td>
            <td></td><td></td>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</body>
</html>