* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  background-color: #ccc;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(6, auto);
  gap: 10px;
  height: 100vh;
  padding: 10px;
}


#left-sidebar {
  grid-column: 1 / 3;
  grid-row: 1 / 6;
  background-color: #f7f7f7;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  padding: 10px;
}
.exit{
  grid-column: 1 / 3;
  grid-row: 6 / 7;
  top: 10px;
  right: 10px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
}

#data {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
  height: 100%;
  overflow-y: auto;
  padding: 5px;
  border: solid 1px #0e0e0e;
  border-radius: 5px;
  background-color: rgba(105, 104, 104, 0.8);
}

#map-container {
  grid-column: 4 / 13;
  grid-row: 1 / 4;
  height: 100%;
  border: solid 1px #0e0e0e;
}
#map {
  width: 100%;
  height: 100%;
}

#right-sidebar {
  grid-column: 13 / 15;
  grid-row: 1 / 7;
  background-color: #f7f7f7;
  border: 1px solid #000000;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#dataVoie-container {
  position: relative;
  grid-column: 3 / 13;
  grid-row: 4 / 7;
  height: 100%;
  overflow: hidden;
  padding: 5px;
  border: solid 1px #0e0e0e;
  border-radius: 5px;
  background-color: rgba(105, 104, 104, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.voie-content {
  flex: 1;
  display: none;
  overflow-y: auto;
  padding: 10px;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.voie-content.active {
  display: block;
  animation-name: slideInUp;
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

.voie-toggle {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.toggle-tab {
  background-color: #222;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  width: max-content;
  margin: 0 auto;
  border-radius: 5px 5px 0 0;
  transition: background 0.3s;
  transform: rotate(0deg);
}
.toggle-tab.active {
  transform: rotate(180deg); /* Quand actif, flèche vers le haut */
}
.toggle-tab:hover {
  background-color: #444;
}

.toggle-menu {
  display: none;
  background-color: #333;
  padding: 10px;
  border-top: 1px solid #555;
}

.toggle-menu button {
  margin: 5px;
  padding: 6px 12px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.toggle-menu button:hover {
  background-color: #777;
}


/* Autres styles */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

#info-container {
  padding: 10px;
  border-radius: 2px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: solid 1px #000000;
}

.info-item {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.info-item label {
  font-weight: bold;
}

.info-item span {
  margin-left: 5px;
  color: #ddd;
}

#cote, #eca {
  width: 95%;
  overflow-y: auto;
  padding: 5px;
  border: solid 1px #0e0e0e;
  border-radius: 5px;
  background-color: rgba(105, 104, 104, 0.8);
}

#cote {
  height: 15vh;
}

#eca {
  height: 80vh;
}
