.container_coeur2c_h { position: relative; }
img { width: 100%; }
#input1 { position: absolute; top: 4.72%; left: 16.78%; width: 7.63%; height: 11.32%; }
#input2 { position: absolute; top: 28.30%; left: 16.78%; width: 7.63%; height: 11.32%; }
#input3 { position: absolute; top: 16.51%; left: 16.78%; width: 7.63%; height: 11.32%; }
#input4 { position: absolute; top: 82.55%; left: 40.26%; width: 17.96%; height: 12.26%; }
#input5 { position: absolute; top: 4.25%; left: 91.20%; width: 7.63%; height: 11.32%; }
#input6 { position: absolute; top: 16.51%; left: 91.31%; width: 7.63%; height: 11.32%; }
#input7 { position: absolute; top: 29.72%; left: 91.31%; width: 7.63%; height: 11.32%; }