.table-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
    font-size: 14px;
    text-align: center;
  }

.table-container table thead th {
    /* background-color: #929292; */
    padding: 8px;
    border: 1px solid #ccc;
  }

.table-container table tbody td,
.table-container table tbody th {
    padding: 6px;
    border: 1px solid #ccc;
  }

.table-container table tbody tr:nth-child(even) {
    background-color: #969696;
  }
.table-container table tbody tr:nth-child(odd) {
      background-color: #f0e7f7;
  }

.table-container table tbody td:first-child {
    text-align: left;
    background-color: #f0e7f7;
    font-weight: bold;
  }

.table-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
}
.table-left,
.table-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


