:root {
    --primary-orange: #FF8C00;
    --dark-blue: rgba(0, 42, 85, 0.9);
    --modal-bg-color: rgba(30, 30, 30, 0.6);
    --header-transition-duration: 1.5s;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #ccc;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 15px;
    height: 100vh;
    padding: 15px;
}
.exit{
  grid-column: 1 / 3;
  grid-row: 6 / 7;
  top: 10px;
  right: 10px;
  /* background-color: #f44336; */
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
}
.choice-button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* top: 10px;    
    right: 10px;   */
    /* background-color: #f44336; */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 3;
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    background-color: var(--primary-orange); 
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    
    max-height: 76px;
    min-height: 76px;
}

.choice-button:hover {
    background-color: #e67e00;
    transform: translateY(-2px);
}

.choice-button img {
    width: 60px;
    font-size: 1.5rem;
    margin-right: 1rem;
}
.accueil-button{
    grid-column: 1 / 3;
    grid-row: 7 / 8;
}
.adv-button, .voies-button{
    grid-column: 1 / 3;
    grid-row: 6 / 7;
    text-align: center;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eee;
    padding-bottom: 15px;
}

.download-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.hidden {
    display: none !important;
}
.sidebar {
    grid-column: 1 / 3;
    grid-row: 1 / 9;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Pousse les boutons vers le bas */
    gap: 10px;
}

.content-area {
    grid-column: 3 / 19;
    grid-row: 2 / 8;
    background: white;
    padding: 20px;
    border-radius: 8px;
    overflow-y: auto;
}
.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.data-table th, .data-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    font-weight: bold;
}

.data-table th {
    background-color: var(--dark-blue);
    color: white;
}

.hidden {
    display: none !important;
}